@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

.container, .container-fluid {
    font-family: 'Montserrat';
}

.page-layout {
    padding: 1.5rem;
}

.form > div {
    margin-bottom: 1rem;
}

.qimi-loader {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo {
    width: 150px;
}

.react-select-container {
    width: max-content;
}