@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.font.ttf') format('truetype'),
         url('../fonts/montserrat-italic.font.ttf') format('truetype');
}

.container, .container-fluid {
    font-family: 'Montserrat';
}

.page-layout {
    padding: 1.5rem;
}

.form > div {
    margin-bottom: 1rem;
}

.qimi-loader {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo {
    width: 150px;
}

.react-select-container {
    width: max-content;
    display: inline-block;
    margin: 0px 10px;
}