@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

.container, .container-fluid {
    font-family: 'Montserrat';
}

.qimi-nav-section .nav-link {
    width: 250px;
    background-color: #040405;
    transition: width 0.3s ease;
    white-space: nowrap;
    z-index: 1;
}

.qimi-nav-section .nav-link,
.qimi-nav-section .nav-link:focus {
    color: #DDD;
}

.qimi-nav-section .nav-link:hover {
    color: #DDD;
    text-shadow: 0px 0px 5px;
    width: 250px;
    text-align: start;
}

.qimi-nav-section .nav-link > i {
    margin: 0px 7px;
}