@use '../../assets/scss/colors';

.container {
    width: 250px;
    transition: width 0.3s ease;
    white-space: nowrap;
    margin-left: 16px;
}

.name {
    font-size: 14px;
    color: colors.$nav-header;
}

.container.collapse {
    width: 63px;
    margin-left: 0px;
}

.collapse > .name {
    display: none;
}